@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.features-section {
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 85%);
}

.testimonial-section {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);
}

.how-it-works-section {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}
